@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", system-ui, Roboto;
}

/* main body */

.mainCalculator {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 700px;
    border-radius: 32px;
    gap: 12px;
}

/* Main display */
.mainCalculator .mainDisplay {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 50px 20px;
    height: 40%;
    width: 530px;
    margin: 4px;
    background-color: black;
    border-radius: 32px;
    gap: 6px;
}

/* Main name */
.mainCalculator .displayName {
    color: grey;
    font-size: 22px;
    margin-left: 20px;
}

/* Main input */
.mainCalculator .sectionInput {
    display: flex;
    background-color: rgb(163, 217, 250);
    height: 90%;
}

.mainCalculator .displayInput {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    flex-direction: column;
}

.mainCalculator .displayPrevInput {
    display: flex;
    justify-content: center;
    font-size: 20px;
    opacity: 50%;
    
}

.mainCalculator .displayCurrInput {
    font-size: 30px;
}

/* Calculator Numbers */
.section {
    display: flex;
    gap: 20px;
}

.mainCalculator .calcButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
}

.calcButton button {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: "Press Start 2P", system-ui, Roboto;

    &:hover {
        background-color: rgb(107, 107, 107);
    }

    &:active {
        background-color: rgb(46, 46, 46);
    }
}